@font-face {
    font-family: 'textbold-normal';
    src: url('../fonts/textbold/textbold-normal.ttf') format('truetype');
}

@font-face {
    font-family: 'textbold';
    src: url('../fonts/textbold/textbold.ttf') format('truetype');
}

@font-face {
    font-family: 'dolcevita-bold';
    src: url('../fonts/dolcevita/dolcevita-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'arial-normal';
    src: url('../fonts/arial/arial-normal.ttf') format('truetype');
}

@font-face {
    font-family: 'cursives';
    src: url('../fonts/cursives/cursives.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* desktop */
@media (min-width: 1100px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: arial-normal;
        background-color: #81dd6b;
        font-family: textbold;
        color: white;
    }

    body section {
        width: 100%;
        min-height: 500px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body section .img-title {
        width: 100%;
        height: 500px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 40% 60%;
        margin-bottom: 250px;
    }

    body section .img-title .img {
        background-image: url("../images/innovation.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        min-height: 600px;
        border-radius: 0% 0% 60% 60%;
    }

    body section .img-title .title {
        width: 90%;
        font-family: dolcevita-bold;
        text-align: end;
        font-size: 50px;
        padding-right: 70px;
    }

    body section .p {
        font-size: 20px;
        width: 55%;
        text-align: center;
        line-height: 1.5;
        text-indent: 2.5em;
        padding: 5px;
        margin-bottom: 50px;
    }

    body section .features-txt {
        position: relative;
        text-align: center;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    body section .features-txt .sub-title {
        font-size: 80px;
        font-family: cursives;
        color: black;
        position: absolute;
        margin-top: 90px;
        border-bottom: 3px solid #F51E33;
    }

    body section .features {
        width: 100%;
        height: 900px;
        background-color: #CACACA;
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        align-items: center;
        justify-items: center;
    }

    body section .features .ft1 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft1 .img {
        background-image: url("../images/spending.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft1 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft2 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft2 .img {
        background-image: url("../images/revenues.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft2 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft3 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft3 .img {
        background-image: url("../images/reports.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft3 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft4 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft4 .img {
        background-image: url("../images/tasks.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft4 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft5 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft5 .img {
        background-image: url("../images/assets.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft5 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft6 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft6 .img {
        background-image: url("../images/categories.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft6 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft7 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft7 .img {
        background-image: url("../images/email.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft7 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft8 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft8 .img {
        background-image: url("../images/bank.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft8 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft9 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft9 .img {
        background-image: url("../images/creditcard.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft9 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft10 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft10 .img {
        background-image: url("../images/dashboard.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft10 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft11 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft11 .img {
        background-image: url("../images/budget.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft11 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft12 {
        width: 90%;
        height: 90%;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft12 .img {
        background-image: url("../images/payee.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft12 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .spc-start {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    body section .features .spc-end {
        grid-column-start: 6;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .white-triangle {
		display: flex;
		justify-content: center;
	}

	.white-triangle .white-triangle2 {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 20px solid #81dd6b;
	}

}

/* ##### */
/* other devices */
@media (max-width: 1099px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: arial-normal;
        background-color: #81dd6b;
        font-family: textbold;
        color: white;
    }

    body section {
        width: 100%;
        min-height: 500px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body section .img-title {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    body section .img-title .img {
        background-image: url("../images/innovation.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        height: 350px;
        border-radius: 0% 0% 60% 60%;
    }

    body section .img-title .title {
        color: #FFFFFF;
        font-family: dolcevita-bold;
        text-align: center;
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 170px;
    }

    body section .p {
        font-size: 15px;
        width: 80%;
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 50px;
        text-indent: 50px;
    }

    body section .features-txt {
        position: relative;
        text-align: center;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    body section .features-txt .sub-title {
        font-size: 80px;
        font-family: cursives;
        color: black;
        position: absolute;
        border-bottom: 3px solid #F51E33;
    }

    body section .svg {
        margin-top: 100px;
    }

    body section .svg2 {
        margin-bottom: 90px;
    }

    body section .sub-title {
        font-size: 80px;
        font-family: cursives;
        text-align: center;
        color: black;
        border-bottom: 3px solid #F51E33;
        margin-top: 70px;
    }

    body section .features {
        width: 100%;
        height: 1550px;
        background-color: #CACACA;
        display: grid;
        grid-template-columns: 2% 48% 48% 2%;
        align-items: center;
        justify-items: center;
    }

    body section .features .ft1 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft1 .img {
        background-image: url("../images/spending.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft1 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft2 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft2 .img {
        background-image: url("../images/revenues.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        width: 100%;
        height: 100%;
    }

    body section .features .ft2 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft3 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft3 .img {
        background-image: url("../images/reports.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft3 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft4 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft4 .img {
        background-image: url("../images/tasks.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft4 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft5 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft5 .img {
        background-image: url("../images/assets.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft5 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft6 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft6 .img {
        background-image: url("../images/categories.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft6 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 20px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft7 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft7 .img {
        background-image: url("../images/email.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft7 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft8 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft8 .img {
        background-image: url("../images/bank.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft8 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft9 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft9 .img {
        background-image: url("../images/creditcard.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        height: 80%;
    }

    body section .features .ft9 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft10 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft10 .img {
        background-image: url("../images/dashboard.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        height: 80%;
    }

    body section .features .ft10 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft11 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft11 .img {
        background-image: url("../images/budget.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        height: 80%;
    }

    body section .features .ft11 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .ft12 {
        width: 90%;
        height: 180px;
        background-color: #CACACA;
        box-shadow: 1px 1px 20px grey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    body section .features .ft12 .img {
        background-image: url("../images/payee.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        width: 100%;
        height: 80%;
    }

    body section .features .ft12 .txt {
        width: 100%;
        font-family: dolcevita-bold;
        font-size: 18px;
        color: #404040;
        margin-top: 15px;
    }

    body section .features .spc-start {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    body section .features .spc-end {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .white-triangle {
		display: flex;
		justify-content: center;
	}

	.white-triangle .white-triangle2 {
		position: absolute;
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 20px solid #81dd6b;
	}

}