<!DOCTYPE html>
<html lang="en">

<head>
  {% block htmlhead %}
      {% load static %}
      {% load i18n %}
      <title>Murangoo | finance</title>
      <meta name="theme-color" content="#F51E33"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="#F51E33"/>
      <meta name="msapplication-navbutton-color" content="#F51E33"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static '/allauth/css/emailset.css' %}">
      <script src="{% static '/allauth/js/index.js' %}"></script>
      <link rel="shortcut icon" type="image/x-icon" href="{% static '/core/images/favicon.png' %}">
  {% endblock htmlhead %}
</head>

<section id="idsectionlogin">

  <img id="idlogomenuhambimg" src="{% static '/allauth/images/logo-white.svg' %}" style="margin-top: 9vh;"/>

  <div id="idlinesep"></div>

  {% block content %}
    {% if user.emailaddress_set.all %}
    <p id="idtextproceedall">{% trans 'The following e-mail addresses are associated with your account:' %}</p>

    <form id="idformemails" action="{% url 'account_email' %}" class="email_list" method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    <fieldset class="blockLabels">
    {% for emailaddress in user.emailaddress_set.all %}
    <div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

            <input style="margin-bottom: 2vh;" id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

            {{ emailaddress.email }}
                {% if emailaddress.verified %}
                <span class="verified">{% trans "Verified" %}</span>
                {% else %}
                <span class="unverified">{% trans "Unverified" %}</span>
                {% endif %}
                  {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
      </label>
    </div>
      {% endfor %}

    <div class="buttonHolder">
          <button id="idsubmitmessage2" class="secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
          <button id="idsubmitmessage2" class="secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
          <button id="idsubmitmessage2" class="primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
    </div>

    </fieldset>
    </form>

    {% else %}
    <p id="idtextproceedall"><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}

      {% if can_add_email %}
        <p id="idtextproceedall" style="margin-top: 5vh; margin-bottom: 2vh;">{% trans "Add E-mail Address" %}</p>

        <form id="idformlogin" method="post" action="{% url 'account_email' %}" class="add_email" autocomplete="off" novalidate>
            {% csrf_token %}

              <div id="idframeerror">
              {% if form.errors %}
         
                {% for error in form.non_field_errors %}
                  <div id="{{error}}" class="classerror" onclick="new unloadPage('{{error}}')">
                    <strong>{{ error }}</strong>
                    <p onclick="new unloadPage('{{error}}')" id="closeerror">x</p>
                  </div>
                {% endfor %}
        
                {% for field in form %}
        
                  {% for error in field.errors %}
                  
                    <div id="{{field.auto_id}}" class="classerror" onclick="new unloadPage('{{field.auto_id}}')">
                      <strong>{{field.label}}: {{ error }}</strong>
                      <p onclick="new unloadPage('{{field.auto_id}}')" id="closeerror">x</p>
                    </div>
        
                  {% endfor %}
        
                {% endfor %}
        
              {% endif %}
        
              {% if messages %}
                {% for message in messages %}
                  <div id="id_msgsucess" class="classsucess" onclick="new unloadPage('id_msgsucess')">
                    <strong>{{ message|safe }}</strong>
                    <p onclick="new unloadPage('id_msgsucess')" id="closeerror">x</p>
                  </div>
                {% endfor %}
              {% endif %}
        
            </div>
        
            {% for field in form %}
              {{field}}
            {% endfor %}

            <button id="idsubmitmessage" name="action_add" type="submit" style="margin-top: 0vh;">{% trans "Add E-mail" %}</button>
        </form>
      {% endif %}

    {% endblock %}

    {% block extra_body %}
    <script type="text/javascript">
    (function() {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
    </script>
    {% endblock %}

  <div id="idlinesep"></div>

  <div id="idsignupbottom" onclick="location.href='/accounts'">
    <div id="idbackicon">
      <svg style="height: 2.5vh;" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="99.6611mm" height="100mm" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
        viewBox="0 0 9966.1 9999.99"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Camada_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <path fill="black" d="M521.39 9999.99c-778.56,0 -492.62,-726.8 -353.7,-1243.71 128.76,-479.08 332.03,-971.99 557.98,-1357.43 400.03,-682.36 1207.17,-1509.58 1906.89,-1893.27 90.53,56.52 146.55,132.08 231,200.81 1041.82,847.77 2245.61,1096.57 3511.24,493.38 192.98,-91.98 347.19,-196.12 511.01,-316.64 115.66,-85.11 377.64,-338.74 454.05,-371.05 398.47,248.6 794.84,548.61 1073.86,836.03 677.35,697.77 1106.95,1384.98 1391.47,2375.97 155.47,541.57 370.59,1275.91 -297.1,1275.91 -3014.58,0 -6029.16,0 -8986.69,0zm4278.48 -9988.65c890.68,-87.32 1691.42,344.67 2111.72,784.75 524.25,548.92 806.17,1002.75 918.31,2025.1 95.51,870.61 -288.35,1724.53 -691.63,2200.81 -1067.59,1260.74 -2845.7,1406.65 -4076.64,257.66 -1680.3,-1568.42 -1041.72,-4995.73 1738.24,-5268.31z"/>
        </g>
      </svg>
    </div>
    <a onclick="location.href='/accounts'">{% blocktrans %} Back to Your Account{% endblocktrans %}</a>
  </div>

</section>

</html>
