<!DOCTYPE html>
<html lang="en">

<head>
  {% block htmlhead %}
      {% load static %}
      {% load i18n %}
      <title>Murangoo | finance</title>
      <meta name="theme-color" content="#F51E33"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="#F51E33"/>
      <meta name="msapplication-navbutton-color" content="#F51E33"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static '/allauth/css/forgotpassword.css' %}">
      <script src="{% static '/allauth/js/index.js' %}"></script>
      <link rel="shortcut icon" type="image/x-icon" href="{% static '/core/images/favicon.png' %}">
  {% endblock htmlhead %}
</head>

<section id="idsectionlogin">

  <img id="idlogomenuhambimg" src="{% static '/allauth/images/logo-white.svg' %}" />

  <div id="idlinesep"></div>

  <h1>{% trans "Password Reset" %}</h1>
  
  <p id="idtextproceed">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>


  <div id="idlinesep"></div>

  <div id="idsignupbottom">
    <p>{% blocktrans %}Already have an account?{% endblocktrans %}<a onclick="location.href='/accounts/login/'">{% blocktrans %}Sign In{% endblocktrans %}</a></p>
  </div>

</section>

</html>





