<!DOCTYPE html>
<html lang="en">

<head>
  {% block htmlhead %}
      {% load static %}
      {% load i18n %}
      <title>Murangoo | finance</title>
      <meta name="theme-color" content="#F51E33"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="#F51E33"/>
      <meta name="msapplication-navbutton-color" content="#F51E33"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static '/allauth/css/passwordchange.css' %}">
      <script src="{% static '/allauth/js/index.js' %}"></script>
      <link rel="shortcut icon" type="image/x-icon" href="{% static '/core/images/favicon.png' %}">
  {% endblock htmlhead %}
</head>

<section id="idsectionlogin">

    
  <div id="idframeerror">
		
    {% if messages %}

      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div id="{{ message }}" class="classerror" onclick="new unloadPage('{{ message }}')">
            <strong>{{ message }}</strong>
            <p onclick="new unloadPage('{{ message }}')" id="closeerror">x</p>
          </div>
        {% endif %}
      {% endfor %}

      {% for message in messages %}
        {% if message.tags != 'error' %}
          <div id="id_{{ message }}" class="classsucess" onclick="new unloadPage('id_{{ message }}')">
            <strong>{{ message|safe }}</strong>
            <p onclick="new unloadPage('id_{{ message }}')" id="closeerror">x</p>
          </div>
        {% endif %}
      {% endfor %}

    {% endif %}
      
    {% if form.errors %}
      {% for error in form.non_field_errors %}
        <div id="{{ error }}" class="classerror" onclick="new unloadPage('{{ error }}')">
          <strong>{{ error }}</strong>
          <p onclick="new unloadPage('{{ error }}')" id="closeerror">x</p>
        </div>
      {% endfor %}

      {% for field in form %}
        {% for error in field.errors %}
          <div id="{{ field.auto_id }}" class="classerror" onclick="new unloadPage('{{ field.auto_id }}')">
          <strong>{{ field.label }}: {{ error }}</strong>
          <p onclick="new unloadPage('{{ field.auto_id }}')" id="closeerror">x</p>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

  </div>

    <img id="idlogomenuhambimg" src="{% static '/allauth/images/logo-white.svg' %}" />

    <p id="idtextproceed">{% blocktrans %}Change Password{% endblocktrans %}</p>

    <div id="idlinesep"></div>

    <form method="POST" action="{% url 'account_change_password' %}" id="idformlogin" class="signup" autocomplete="off" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {{field}}
        {% endfor %}

        <button id="idsubmitmessage" type="submit" name="action">{% trans "Change Password" %}</button>
        <a id="idforgotpass" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

    <div id="idlinesep"></div>

    <div id="idsignupbottom" onclick="location.href='/accounts'">
        <div id="idbackicon">
          <svg style="height: 2.5vh;" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="99.6611mm" height="100mm" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
            viewBox="0 0 9966.1 9999.99"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Camada_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer"/>
              <path fill="black" d="M521.39 9999.99c-778.56,0 -492.62,-726.8 -353.7,-1243.71 128.76,-479.08 332.03,-971.99 557.98,-1357.43 400.03,-682.36 1207.17,-1509.58 1906.89,-1893.27 90.53,56.52 146.55,132.08 231,200.81 1041.82,847.77 2245.61,1096.57 3511.24,493.38 192.98,-91.98 347.19,-196.12 511.01,-316.64 115.66,-85.11 377.64,-338.74 454.05,-371.05 398.47,248.6 794.84,548.61 1073.86,836.03 677.35,697.77 1106.95,1384.98 1391.47,2375.97 155.47,541.57 370.59,1275.91 -297.1,1275.91 -3014.58,0 -6029.16,0 -8986.69,0zm4278.48 -9988.65c890.68,-87.32 1691.42,344.67 2111.72,784.75 524.25,548.92 806.17,1002.75 918.31,2025.1 95.51,870.61 -288.35,1724.53 -691.63,2200.81 -1067.59,1260.74 -2845.7,1406.65 -4076.64,257.66 -1680.3,-1568.42 -1041.72,-4995.73 1738.24,-5268.31z"/>
            </g>
          </svg>
        </div>
        <a onclick="location.href='/accounts'">{% blocktrans %} Back to Your Account{% endblocktrans %}</a>
      </div>

</section>

</html>
