<!DOCTYPE html>
<html lang="en">

<head>
  {% block htmlhead %}
      {% load static %}
      {% load i18n %}
      <title>Murangoo | finance</title>
      <meta name="theme-color" content="#F51E33"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="#F51E33"/>
      <meta name="msapplication-navbutton-color" content="#F51E33"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static '/allauth/css/forgotpassword.css' %}">
      <script src="{% static '/allauth/js/index.js' %}"></script>
      <link rel="shortcut icon" type="image/x-icon" href="{% static '/core/images/favicon.png' %}">
  {% endblock htmlhead %}
</head>

<section id="idsectionlogin">

  <img id="idlogomenuhambimg" src="{% static '/allauth/images/logo-white.svg' %}" />

  <p id="idtextproceed">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "All ready! Now change your password." %}{% endif %}</p>

  <div id="idlinesep"></div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p id="idtextproceed">{% blocktrans %}The password reset link was invalid! Please request a <a href="{{ passwd_reset_url }}" style="text-decoration: none; color: black;">new password reset</a>.{% endblocktrans %}</p>
    {% else %}

        <form id="idformlogin" method="POST" action="{{ action_url }}" autocomplete="off" novalidate>
            {% csrf_token %}

            <div id="idframeerror">
                {% if form.errors %}
           
                  {% for error in form.non_field_errors %}
                    <div id="{{error}}" class="classerror" onclick="new unloadPage('{{error}}')">
                      <strong>{{ error }}</strong>
                      <p onclick="new unloadPage('{{error}}')" id="closeerror">x</p>
                    </div>
                  {% endfor %}
          
                  {% for field in form %}
          
                    {% for error in field.errors %}
                    
                      <div id="{{field.auto_id}}" class="classerror" onclick="new unloadPage('{{field.auto_id}}')">
                        <strong>{{field.label}}: {{ error }}</strong>
                        <p onclick="new unloadPage('{{field.auto_id}}')" id="closeerror">x</p>
                      </div>
          
                    {% endfor %}
          
                  {% endfor %}
          
                {% endif %}
          
                {% if messages %}
                  {% for message in messages %}
                    <div id="id_msgsucess" class="classsucess" onclick="new unloadPage('id_msgsucess')">
                      <strong>{{ message|safe }}</strong>
                      <p onclick="new unloadPage('id_msgsucess')" id="closeerror">x</p>
                    </div>
                  {% endfor %}
                {% endif %}
          
            </div>
    
    
            {% for field in form %}
                {{field}}
            {% endfor %}

            <input id="idsubmitmessage" type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>

    {% endif %}


  <div id="idlinesep"></div>

  <div id="idsignupbottom">
    <p>{% blocktrans %}Already have an account?{% endblocktrans %}<a onclick="location.href='/accounts/login/'">{% blocktrans %}Sign In{% endblocktrans %}</a></p>
  </div>

</section>

</html>
