* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: normal;
}

body {
    background-color: var(--gray1);
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#allcontentpage {
    width: 95%;

    max-width: 170vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idbackgroundgrey {
    width: 100%;
    height: 100vh;

    background-color: var(--gray1);

    display: flex;
    align-self: center;
    justify-content: center;
}

.imgiconcard {
    height: 6vh;
}

.valuecard {
    font-family: textbold;
    color: var(--black);
    font-size: 3vh;

    margin-top: 2vh;

    max-width: 95%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.textcard {
    font-family: textbold;
    color: var(--gray5);
    font-size: 2.3vh;

    max-width: 95%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

#all_list_invoices {
    width: 100%;

    margin-top: 1vh;
    margin-bottom: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#head_list_invoices {
    width: 100%;
    height: 5vh;
    
    background-color: var(--black);

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: start;

    margin-top: 0vh;
}

.fieldsformats {
    font-size: 2vh;
    font-family: title1;

    color: var(--gray4);

    margin-left: 3vh;
    margin-top: 0.2vh;

    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iteminvoiceformats {
    font-size: 1.8vh;
    font-family: textbold;

    color: var(--gray4);

    margin-left: 3vh;

    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-transform: lowercase;
}

#allfilters {
    position: relative;

    width: 100%;

    margin-top: 0vh;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1vh;
}

#idiconsearch {
    position: absolute;
    left: 2.5vh;

    height: 3vh;
}

#inputfiltertext {
    width: 100%;
    height: 5vh;

    flex: 1;

    font-size: 2vh;
    font-family: textbold;

    outline: none;

    padding-left: 8.5vh;
    padding-top: 0.5vh;
    
    background-color: var(--gray2);

    border-radius: 1vh;

    border: 0.1vh solid var(--gray3);

    display: flex;
    align-items: center;
    justify-content: start;
}

#inputfiltertext:focus {
    border: 0.2vh solid var(--black);
}

#filter_all {
    position: fixed;
    top: 0vh;

    width: 100%;
    height: 100vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background_black_filter {
    position: absolute;
    width: 100%;
    height: 100vh;

    background-color: black;

    opacity: 70%;
}

#contentfilter {    
    width: 60vh;
    height: 80vh;

    padding-top: 5vh;
    padding-bottom: 5vh;

    background-color: var(--gray1);
    color: var(--gray5);

    font-size: 2vh;
    font-family: textbold;

    border-radius: 2vh;

    border: 1vh solid var(--gray3);

    margin-top: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

#scrolloffilters {
    z-index: 50;

    position: absolute;
    top: 0vh;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#ttitlefilters {
    margin-top: 5vh;

    width: 80%;

    text-align: center;
    color: var(--black);

    font-size: 2.5vh;
    font-family: title1;

}

#formfilter {
    width: 100%;

    margin-top: 3vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#labelfieldformfilter {
    width: 90%;
    max-height: 80vh;

    margin-top: 3vh;

    color: var(--gray5);

    padding-left: 1vh;

    font-size: 1.6vh;
    text-transform: capitalize;
}

.frameinputandicon {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1vh;
}

.filterfieldform {
    width: 100%;
    height: 6vh;

    margin-top: 0.5vh;

    background-color: var(--gray2);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;

    text-transform: capitalize;
}

.iconcalendarinput {
    width: 8vh;
    height: 6vh;

    background-color: var(--gray3);

    border-radius: 1vh;

    margin-top: 0.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.typetransaction {
    width: 90%;
    height: 6vh;

    margin-top: 0.5vh;

    background-color: var(--gray2);

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 1vh;

    text-transform: capitalize;
}

.typetransaction label {
    margin-left: 1vh;

    color: var(--gray5);

    font-size: 1.8vh;

    cursor: pointer;
}

input[type=date] {

    width: 90%;
    height: 90%;

    background-color:  transparent;
    color: var(--gray5);

    border: none;

    font-size: 2vh;
    font-family: textbold;

    cursor: pointer;

    border: none;
    outline: none;
}

input[type=date]:focus {
    color: var(--black);
}

#btnsfiltersendclose {
    z-index: 80;
    position: absolute;
    bottom: 0vh;

    width: 100%;
    height: 6vh;

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.radiotypetransaction {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clickeditinvoice {
    position: absolute;
    right: 0vh;

    width: 85%;
    height: 100%;
}

.calendaricon {
    height: 3.5vh;
}

select {
    width: 95%;
    height: 100%;

    cursor: pointer;

    background-color: var(--gray2);

    font-size: 2vh;
    font-family: textbold;
    text-transform: capitalize;

    border: none;

    color: var(--gray5);

    outline: none;
}

select option {
    font-size: 2vh;
    font-family: textbold;
    text-transform: capitalize;
    color: var(--gray5);
    outline: none;
    cursor: pointer;
    padding-top: 5vh;
}

select:focus {
    width: 95%;
}

#transaction_content_update {
    position: fixed;
    top: 0vh;
    left: 0vh;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background_black_filter_update {
    position: absolute;
    width: 100%;
    height: 100vh;

    background-color: black;

    opacity: 70%;
}

#contentnewinvoice_update{
    width: 60vh;
    height: 80vh;

    padding-top: 5vh;
    padding-bottom: 5vh;

    background-color: var(--gray1);
    color: var(--gray5);

    font-size: 2vh;
    font-family: textbold;

    border-radius: 2vh;

    border: 1vh solid var(--gray3);

    margin-top: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

#scrolloffilters_update {
    z-index: 50;

    position: absolute;
    top: 0vh;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#ttitlefilters_update {
    margin-top: 5vh;

    width: 80%;

    text-align: center;
    color: var(--black);

    font-size: 2.5vh;
    font-family: title1;

}

#formupdateinvoice {
    width: 100%;

    margin-top: 3vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#labelfieldformfilter_update {
    width: 90%;
    max-height: 80vh;

    margin-top: 3vh;

    color: var(--gray5);

    padding-left: 1vh;

    font-size: 1.6vh;
    text-transform: capitalize;
}

.typetransaction_update {
    width: 90%;
    height: 6vh;

    margin-top: 0.5vh;

    background-color: var(--gray2);

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 1vh;

    text-transform: capitalize;
}

.radiotypetransaction_update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typetransaction_update label {
    margin-left: 1vh;

    color: var(--gray5);

    font-size: 1.8vh;

    cursor: pointer;
}

.frameinputandicon_update {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1vh;
}

.iconcalendarinput_update {
    width: 8vh;
    height: 6vh;

    background-color: var(--gray3);

    border-radius: 1vh;

    margin-top: 0.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iconnewinvoicerequired_update {
    height: 3.5vh;
}

.filterfieldform_update {
    width: 100%;
    height: 6vh;

    margin-top: 0.5vh;

    background-color: var(--gray2);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;

    text-transform: capitalize;
}

.filterfieldformtextarea_update {
    width: 100%;
    height: 26vh;

    margin-top: 0.5vh;

    background-color: var(--gray2);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;

    padding-top: 1.5vh;

    text-transform: capitalize;
}

#labelfieldformfilterBoolean_update {
    width: 90%;
    max-height: 80vh;

    margin-top: 4vh;

    color: var(--gray5);

    padding-left: 1vh;

    font-size: 1.8vh;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vh;

    cursor: pointer;
}

#btnsfiltersendclosenew_update {
    z-index: 80;
    position: absolute;
    bottom: 0vh;

    width: 100%;
    height: 6vh;

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btncancel_update {
    width: 50%;
    height: 100%;

    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    border-bottom-left-radius:  1vh;

    background-color: var(--red);
    color: white;

    border: none;

    font-size: 2vh;
    font-family: textbold;

    text-transform: capitalize;

    cursor: pointer;
}

.buttoninsert_update {
    width: 50%;
    height: 100%;

    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background-color: var(--newpurple);
    color: white;

    border-bottom-right-radius:  1vh;

    border: none;

    font-size: 2vh;
    font-family: textbold;

    text-transform: capitalize;

    cursor: pointer;
}

.btncancel_update:hover, .buttoninsert_update:hover {
    opacity: 90%;
}

.errorinputform {
    border: 0.1vh solid var(--redlight);
}

textarea {
    width: 90%;
    height: 90%;

    background-color:  transparent;
    color: var(--gray5);

    border: none;

    font-size: 2vh;
    font-family: textbold;

    cursor: auto;

    border: none;
    outline: none;

    resize: none
}

select {
    width: 90%;
    height: 100%;

    cursor: pointer;

    background-color: var(--gray2);

    font-size: 2vh;
    font-family: textbold;
    text-transform: capitalize;

    border: none;

    color: var(--gray5);

    outline: none;
}

select option {
    font-size: 2vh;
    font-family: textbold;
    text-transform: capitalize;
    color: var(--gray5);
    outline: none;
    cursor: pointer;
    padding-top: 5vh;
}

select:focus {
    width: 90%;
}

input[type=date],
input[type=text],
input[type=number]
{

    width: 90%;
    height: 90%;

    background-color:  transparent;
    color: var(--gray5);

    border: none;

    font-size: 2vh;
    font-family: textbold;

    cursor: pointer;

    border: none;
    outline: none;
}

input[type=text],
input[type=number] {
    cursor: auto;
}


#selectallcheckbox {
    margin-left: 3vh;
    margin-right: 0vh;
    cursor: pointer;
}

#iconeditsvg {
    height: 2vh;
    
    cursor: pointer;
    
    margin-top: 1vh;
}

input[type="checkbox"] {
    width: 2.5vh; 
    height: 2.5vh;

    border-radius: 0.2vh;
}

#deleteiconinsideudpdate {
    margin-top: 7vh;

    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    gap: 3VH;
}

#deleteiconinsideudpdate a {
    height: 5vh;

    background-color: var(--gray4);

    color: white;

    font-size: 2vh;
    font-family: textbold;

    padding-left: 3vh;
    padding-right: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;

    text-transform: capitalize;
}

#framedeleiconupdate {
    width: 9vh;
    height: 8vh;

    margin-right: 0.5vh;

    background-color: var(--gray3);

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#framedeleiconupdate:hover {
    opacity: 80%;
}

#trashicondeleteupdate {
    height: 3vh;
}

input {
    cursor: pointer;
}

input[type="text"] {
    cursor: pointer;
}

input[type="number"] {
    cursor: pointer;
}

textarea {
    cursor: pointer;
}

.filterfieldform_new_repeat:hover,
.filterfieldform_new:hover,
.filterfieldformtextarea_new:hover,
.typetransaction_new:hover {
    border: 0.1vh solid var(--gray5);
}

.datetitlemobileinvoice,
#idiconsearchmopbile,
#allcontentmobile,
.textselectallinvoicesmobile {
    display: none;
}

/* ##### */
/* other devices */
@media (max-width: 800px) {


    #inputfiltertext {
        display: none;
    }

    #allcontentmobileitens {
        display: block;

        width: 100%;
        
        position: relative;
    }
    
    #datemobileitens {
        width: 100%;
    }

    .datetitlemobileinvoice {

        display: flex;
        align-items: center;
        justify-content: start;

        width: 100%;

        margin-top: 5vh;
        margin-bottom: 1vh;

        padding-left: 2vh;

        font-size: 1.5vh;
        font-family: textbold;

        color: var(--black);
    }


    .iteminvoiceformats {
        font-size: 1.8vh;
        font-family: textbold;
    
        color: var(--gray4);
    
        margin-left: 0vh;

        max-width: 100%;
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        text-transform: lowercase;
    }

    .divisionclomitensmobileinvoicesinit {
        margin-left: 2vh;

        width: 15vh;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.5vh;
    }

    .divisionclomitensmobileinvoicesmiddle {
        margin-left: 2vh;

        width: 15vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 0.5vh;
        flex: 1;
    }

    .divisionclomitensmobileinvoiceslast {
        margin-left: 2vh;
        margin-right: 2vh;

        width: 15vh;

        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 0.5vh;
    }
    
    #allfilters {
        position: relative;

        margin-top: 0vh;
    
        width: 98%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        gap: 01vh;
    }

    #serchmobile {
        position: relative;

        width: 100%;
        margin-top: 2vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idiconsearchmopbile {
        display: block;

        position: absolute;
        
        left: 2.5vh;
    
        height: 4vh;
    }

    .imgiconcard {
        height: 4vh;
    }

    .valuecard {
        font-family: textbold;
        color: var(--black);
        font-size: 2vh;
    
        margin-top: 2vh;
    
        max-width: 95%;
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }

    .textcard {
        font-family: textbold;
        color: var(--gray5);
        font-size: 2vh;
    
        max-width: 95%;
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }

    .linemobile {
        width: 100%;
        height: 0.1vh;

        margin-top: 3vh;
        margin-bottom: 3vh;

        background-color: var(--gray3);
    }

    #all_list_invoices {
        width: 100%;
    
        margin-top: 0vh;
        margin-bottom: 15vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #iconfilters {
        height: 3vh;
    }

    #head_list_invoices div {
        display: none;
    }

    #head_list_invoices {
        width: 100%;

        background-color: transparent;

        margin-left: -1.3vh;
    }

    .textselectallinvoicesmobile {
        display: block;
        margin-left: 2vh;

        font-size: 2vh;
        font-family: textbold;

        text-transform: lowercase;
    }

    #contentfilter {
        width: 90%;
        height: 70%;
    
        padding-top: 5vh;
        padding-bottom: 5vh;
    
        background-color: var(--gray1);
        color: var(--gray5);
    
        font-size: 2vh;
        font-family: textbold;
    
        border-radius: 2vh;
    
        border: 1vh solid var(--gray3);

        margin-top: 8vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        position: relative;
    }

    #selectallcheckbox {
        margin-left: 2.6vh;
        margin-right: 0vh;
        cursor: pointer;
    }

    #contentnewinvoice_update{
        width: 90%;
        height: 70%;

        padding-top: 5vh;
        padding-bottom: 5vh;

        background-color: var(--gray1);
        color: var(--gray5);

        font-size: 2vh;
        font-family: textbold;

        border-radius: 2vh;

        border: 1vh solid var(--gray3);
    
        margin-bottom: 12vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
    }

}