@import url("colors.css");
@import url("messagestop.css");

@font-face {
    font-family: 'textbold';
    src: url('../fonts/textbold/textbold.ttf') format('truetype');
}

@font-face {
    font-family: 'dolcevita-bold';
    src: url('../fonts/dolcevita/dolcevita-bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    outline: none;
}

/* desktop */
@media (min-width: 1100px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 2vh;
        background-color: #F51E33;
        font-family: textbold;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsectionlogin {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;

        overflow: hidden;
    }

    #idlogomenuhambimg {
        width: 42vh;
    }

    #idbackhomediv {
        width: 6vh;
        height: 6vh;

        font-size: 2.2vh;
        font-family: textbold;

        margin-right: 5vh;

        background-color: black;
        color: white;

        border: 1vh solid white;

        border-radius: 0.8vh;

        border: none;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idbtnreturn {
        width: 3.5vh;
        height: 3.5vh;
    }

    #idtextproceed {
        margin-top: 1vh;
        margin-bottom: 0vh;
    }

    #idlinesep {
        width: 42vh;
        height: 0vh;

        border: 0.1vh solid #f55263;

        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    #idformlogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #idemail {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .fundoimagemlogin {
        width: 6vh;
        height: 6vh;

        background-color: white;

        border-radius: 1vh;

        margin-right: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idimguser {
        width: 3vh;
        height: 3vh;
    }
    
    input[type=text], input[type=email], input[type=password] {
        width: 42vh;
        height: 6vh;

        font-size: 2vh;
        font-family: textbold;

        background-color: black;
        color: gray;

        border: none;
        border-radius: 1vh;

        padding-left: 1.5vh;

        outline: none;

        margin-bottom: 2vh;
    }

    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
        color: white;
    }

    #idKeeplogged {
        width: 42vh;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1.5vh;

        font-size: 1.8vh;

        margin-top: 1vh;
    }

    #idsubmitmessage {
        margin-top: 3vh;

        width: 42vh;
        height: 6vh;

        font-size: 2.5vh;
        font-family:  textbold;

        background-color: white;
        color: #F51E33;

        border: none;
        border-radius: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    #idsubmitmessage:hover {
        background-color: var(--newpurple);
        color: white;
    }


    #id_remember {
        width: 60vh;

        position: relative;

        display: none;
    }

    #idlabelcheckbosremember {
        position: relative;

        width: 2.5vh;
        height: 2.5vh;

        border: 0.4vh solid white;

        border-radius: 0.5vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idlabelcheckbosremember p {
        position: absolute;

        right: -14.5vh;
    }

    #idKeeplogged p {
        cursor: pointer;
    }

    #idcheckicon {
        position: absolute;
        left: 0vh;
        bottom: 0vh;

        width: 3vh;
        height: 3vh;

        display: none;
    }

    #id_remember:checked ~ #idlabelcheckbosremember .classsvgchecked {
        display: block;
    }

    #idsignupbottom {
        margin-top: 2vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idbackicon {
        font-size: 2.5vh;

        width: 5vh;
        height: 5vh;

        background-color: white;
        color: black;
        border-radius: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 0.5vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsignupbottom a {
        list-style: none;
        text-decoration: none;

        height: 5vh;

        color: white;
        background-color: black;

        text-align: center;

        padding-left: 4vh;
        padding-right: 4vh;

        border-radius: 1vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsignupbottom:hover > a {
        background-color: var(--newpurple);
    }

    #redborder {
        background-color: #151515;
        border: 0.1vh solid white;
        color: #F51E33;
    }

    #idforgotpass {
        text-decoration: none;
        color: white;

        margin-top: 4vh;
    }

    #idforgotpass:hover {
        color: black;
    }
}

/* ##### */
/* other devices */
@media (max-width: 1099px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 2vh;
        background-color: #F51E33;
        font-family: textbold;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsectionlogin {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;

        overflow: hidden;
    }

    #idlogomenuhambimg {
        width: 42vh;
    }

    #idbackhomediv {
        width: 6vh;
        height: 6vh;

        font-size: 2.2vh;
        font-family: textbold;

        margin-right: 5vh;

        background-color: black;
        color: white;

        border: 1vh solid white;

        border-radius: 0.8vh;

        border: none;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idbtnreturn {
        width: 3.5vh;
        height: 3.5vh;
    }

    #idtextproceed {
        margin-top: 1vh;
        margin-bottom: 0vh;
    }

    #idlinesep {
        width: 42vh;
        height: 0vh;

        border: 0.1vh solid #f55263;

        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    #idformlogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #idemail {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .fundoimagemlogin {
        width: 6vh;
        height: 6vh;

        background-color: white;

        border-radius: 1vh;

        margin-right: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idimguser {
        width: 3vh;
        height: 3vh;
    }
    
    input[type=text], input[type=email], input[type=password] {
        width: 42vh;
        height: 6vh;

        font-size: 2vh;
        font-family: textbold;

        background-color: black;
        color: gray;

        border: none;
        border-radius: 1vh;

        padding-left: 1.5vh;

        outline: none;

        margin-bottom: 2vh;
    }

    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
        color: white;
    }

    #idKeeplogged {
        width: 42vh;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1.5vh;

        font-size: 1.8vh;

        margin-top: 1vh;
    }

    #idsubmitmessage {
        margin-top: 3vh;

        width: 42vh;
        height: 6vh;

        font-size: 2.5vh;
        font-family:  textbold;

        background-color: white;
        color: #F51E33;

        border: none;
        border-radius: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    #idsubmitmessage:hover {
        background-color: var(--newpurple);
        color: white;
    }


    #id_remember {
        width: 60vh;

        position: relative;

        display: none;
    }

    #idlabelcheckbosremember {
        position: relative;

        width: 2.5vh;
        height: 2.5vh;

        border: 0.4vh solid white;

        border-radius: 0.5vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idlabelcheckbosremember p {
        position: absolute;

        right: -14.5vh;
    }

    #idKeeplogged p {
        cursor: pointer;
    }

    #idcheckicon {
        position: absolute;
        left: 0vh;
        bottom: 0vh;

        width: 3vh;
        height: 3vh;

        display: none;
    }

    #id_remember:checked ~ #idlabelcheckbosremember .classsvgchecked {
        display: block;
    }

    #idsignupbottom {
        margin-top: 2vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idbackicon {
        font-size: 2.5vh;

        width: 5vh;
        height: 5vh;

        background-color: white;
        color: black;
        border-radius: 1vh;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 0.5vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsignupbottom a {
        list-style: none;
        text-decoration: none;

        height: 5vh;

        color: white;
        background-color: black;

        text-align: center;

        padding-left: 4vh;
        padding-right: 4vh;

        border-radius: 1vh;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #idsignupbottom:hover > a {
        background-color: var(--newpurple);
    }

    #idframeerror {
        z-index: 100;
        position: fixed;
        top: 2vh;
    
        width: 95%;
        
        -webkit-animation: closemsgsucess 4s forwards;
    }

    @keyframes closemsgsucess {

        0% {
            opacity: 100%;
            visibility: show;
        }

        50% {
            opacity: 100%;
            visibility: show;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }
        
    }

    .classerror {
        position: relative;

        height: 5vh;
    
        background: linear-gradient(#202020, #474747);
        color: var(--redlight);
    
        border-radius: 1.5vh;
    
        font-size: 1.5vh;
    
        display: flex;
        align-items: center;
        justify-content: end;
    
        margin-bottom: 1vh;
    
        padding-top: 1vh;
        padding-bottom: 1vh;
    
        padding-left: 4vh;
        padding-right: 4vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        text-align: center;

        cursor: pointer;
    }
    
    .classerror strong {
        position: relative;
    }
    
    .classerror p {
        position: absolute;
        right: 1.5vh;
    
        width: 2vh;
        height: 2vh;
    
        border-radius: 50%;
    
        color: var(--redlight);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
    
        font-size: 2vh;
    } 

    #redborder {
        background-color: #151515;
        border: 0.1vh solid white;
        color: #F51E33;
    }

    #idforgotpass {
        text-decoration: none;
        color: white;

        margin-top: 4vh;
    }

    #idforgotpass:hover {
        color: black;
    }

}